* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

main {
    margin: 30px 60px 40px 60px;
}

footer {
    background-color: #F4F4F4;
}

.img-40 {
    width: 40px;
    height: 40px;
}

.img-30 {
    width: 30px;
    height: 30px;
}

.my-n1 {
    margin-top: -5px;
    margin-bottom: -5px;
}

#main-menu {
    padding: 16px;
    font-size: 22px;
    background: #133F73;
    color: white;
    cursor: pointer;
    display: none;
}

#main-menu-ul {
    background: #164884;
    text-align: center;
    list-style: none;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

#main-menu-ul > li {
    display: inline-block;
    padding: 20px;
}

#main-menu-ul > li.active {
    background: #2B5B98;
    border-radius: 0 0 15px 15px;
}

#main-menu-ul > li:hover {
    background: #112D4E;
    border-radius: 0 0 15px 15px;
}

#main-menu-ul > li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {

    main {
        margin: 10px 20px 10px 20px;
    }

    #main-menu {
        display: block;
        border-radius: 0 0 15px 15px;
    }

    #main-menu.display {
        display: block;
        border-radius: 0 0 15px 0;
    }

    #main-menu-ul {
        position: absolute;
        display: none;
        width: 80%;
        min-width: 200px;
        border-radius: 0 0 15px 0;
    }

    #main-menu-ul > li {
        width: 100%;
        padding: 15px;
        text-align: left;
    }

    #main-menu-ul > li.active {
        background: #2B5B98;
        border-radius: 0;
    }
}
